.img-phone{
    display: flex;
    gap: 20px;    
}

.img-phone{
   padding: 100px;
}

.img-phone img {
  transition: transform 0.3s ease;
}

.img-phone img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.phntopic{
   font-size: 56px;
   padding: 15px; 
   
}

.phntopic{
  text-align: center;
}.img-phone {
  display: flex;
  gap: 20px;
  padding: 100px;
  overflow-x: auto;      /* enable horizontal scroll */
  overflow-y: hidden;    /* prevent vertical scroll */
}

.img-phone img {
  transition: transform 0.3s ease;
}

.img-phone img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.phntopic {
  font-size: 56px;
  padding: 15px;
  text-align: center;
}


